/* This main css file contains the default rules and is geared toward the small/phone view */


* {
    box-sizing: border-box;

}

/* This wildcard applies to all elements ensuring a box layout model */

p {
    font: "Times", serif;
    font-size: 1rem;
    align-items: center;

}

header,
nav,
main,
footer {
    max-width: 70%;
    min-width: 475px;
    padding: 1rem;
    margin: auto;
    align-content: center;
    background-color: rgba(23, 97, 160, 0.2);
}

header, footer {
    background-color: #1761a0;
}

header h1 {
    max-width: 100%;
    margin-bottom: .5rem;
    margin-top: 0;
    font-family: 'Berkshire Swash', cursive;
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
}

header img {
    max-width: 200%;
    margin: 10px;
}

header .subheading {
    min-width: 70%;
    margin-left: 20%;
    font-family: 'Pompiere', cursive;
    color: #ffffff;
    font-size: 1.75rem;
    text-align: center;
    align-items: center;
}

nav {}


nav button {
    padding: 5px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    flex-flow: wrap;
    background-color: #80bfff;
    font-family: 'Pompiere', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}
nav ul.hide { display:none;}
nav ul li {
    text-align: center;
}

nav ul li a {
    color: #ffffff;
    padding: .5rem 1rem;
    text-decoration: none;
}

nav ul li.active a {
    background-color: #1761a0;
    color: white;
}

nav ul li a:hover {
    background-color: #f0a418;
    color: white;
}

main h2 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    color: #1761a0;
    text-align: center;
}

main h3 {
    font-family: 'Pompiere', cursive;
    font-size: 1.5rem;
    color: #1761a0;
    text-align: center;
}

footer {
    color: #ffffff;
    text-align: center;
    clear: both;
}

footer aside {
    font-family: 'Pompiere', cursive;
    font-size: 1.25rem;
}

footer > p {
    font-size: 1rem;
}

header{
    display:flex;
    flex-direction: row;
}

nav button {
   align-self: flex-start;
}

.container {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    padding: 10px;

}

article.weatherStoryText {
    width: 400px;
}

section.cityInfo img {
    max-width: 400px;
    max-height: 400px;
    margin-top: 20px;

}

div.weatherStoryContainer img {
    max-width: 400px;
    max-height: 321px;
}
