@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header,nav,main,footer{
    }

    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav ul li{
        display: inline-block;
    }

    section.forecast { display:block; }
      /* show the 10-day forecast with the medium view and up */

    article p.town-article img {
        width: 50%;
        float:right; }  /* responsive images */

    figure img{
        float:right;
        max-width: 50%;
         }  /* responsive images */
    .forecast{
        clear: both;
        margin-left: 5%;
    }
    #summary{
        max-width: 58%;
    }
    .summary{
        max-width: 60%;
    }
}
