@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    header,
    nav,
    main,
    footer {}

    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav ul.hide {
        display: flex;
    }
    nav ul li {
        display: flex;
        ;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .25rem;
        margin: 1rem auto;
        max-width: 75%;
    }
    .container h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
